<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title>网金花名册</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/styles/angular-material.min.css">
    <link rel="stylesheet" href="style/material.min.css">
    <link rel="stylesheet" href="style/index.css">

</head>


<body ng-app="myApp" >
<!--page content -->
<div  ng-controller="ManCtrl">
    <div id="cover" >
        <div id="loading">
            <span id="percent">0%</span>
            <img src="resource/images/loading.png" alt="">
        </div>
        <img style="display:none;" id="coverPic" src="resource/images/cover.jpg" alt="">
    </div>

    <md-toolbar class="toolbar mdl-shadow--2dp">
        <div class="md-toolbar-tools">
            <div class="search-widget qp-ui qp-ui-search-input searchBox" ng-class="{'width80':clickIcon,'width0':!clickIcon}">
                <button class="search-button" ng-click="showSearch()"><i class="material-icons">search</i></button>
                <button class="search-close-button"  ng-class="{'showClose':clickIcon,'hide':!clickIcon}"><i class="material-icons" ng-click="on_clear()">close</i></button>
                <input  type="text" id="input-0" ng-model="searchText" >
                <label class="mdl-textfield__label">Search</label>
            </div>
        </div>
    </md-toolbar>


    <div  class="manList">

        <md-content class="md-padding" layout-xs="column" layout="row">
            <md-list flex ng-repeat="sorts in users track by $index " class="listBox">
                <md-subheader class="md-no-sticky  fadeInUpBig" ng-class="animation" >{{sorts.sorts}}</md-subheader>


                <md-list-item class="md-2-line list-item fadeInUpBig"  ng-click="null" ng-repeat="user in sorts.details track by $index"  list-active data-id="active_{{user.id}}">
                    <div class="md-list-item-text" layout="column">
                        <p   class="userName">{{user.name}}</p>
                    </div>
                    <img ng-src="{{user.photo}}" class="md-avatar" />
                </md-list-item>


            </md-list>

            <!--详细内容-->
            <div ng-repeat="user in users track by $index" class="secitionBox">
                <secition class="list-detail" id="active_{{i.id}}"  ng-repeat="i in user.details  track by $index" >
                    <i class="material-icons close" ng-click="closeDe(i.id)">close</i>
                    <h2 class="mdl-card__title-text" ng-bind="i.name"></h2>

                    <img ng-src="{{i.photo}}" class="md-card-image avatar mdl-shadow--4dp">
                    <img src="{{i.photoBg}}" class="md-card-image  mdl-shadow--2dp">

                    <div class="demo-card-square mdl-card  list-de-con padding-bottom">
                        <!--电话开始-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">call</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom" ng-bind="i.mobile"></div>
                        <div class="color-gary">Mobile</div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son">
                    <span class="width100  card-border card-span">
                        <div  class="color-normal marginBottom" ng-bind="i.telephone"></div>
                        <div class="color-gary">Work</div>
                    </span>
                        </div>

                        <!--邮件区域-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">mail</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom"  ng-bind="i.email"></div>
                        <div class="color-gary">Email</div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son newcard-son">
                            <span class="width100  card-border card-span"></span>
                        </div>

                        <!--邮件区域-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">person</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom" ng-bind="i.post"></div>
                        <div class="color-gary" ng-bind="i.groupName"></div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son newcard-son">
                            <span class="width100  card-border card-span"></span>
                        </div>
                        <!--工作经历-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">work</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom" ng-bind="i.experience[0].company"></div>
                        <div class="color-gary" ng-bind="i.experience[0].time"></div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son">
                    <span class="width100  card-border card-span">
                        <div  class="color-normal marginBottom" ng-bind="i.telephone"></div>
                        <div class="color-gary">Work</div>
                    </span>
                        </div>

                        <!--基本信息-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">favorite</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom" ng-bind="i.nativePlace"></div>
                        <div class="color-gary">籍贯</div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son">
                    <span class="width100   card-span">
                        <div  class="color-normal marginBottom" ng-bind="i.interest"></div>
                        <div class="color-gary">爱好</div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son">
                    <span class="width100   card-span">
                        <div  class="color-normal marginBottom" ng-bind="i.maritalStatus"></div>
                        <div class="color-gary">是否单身</div>
                    </span>
                        </div>
                        <div class="mdl-card__actions  card-son">
                    <span class="width100  card-border card-span">
                        <div  class="color-normal marginBottom" ng-bind="i.weixin"></div>
                        <div class="color-gary">微信号</div>
                    </span>
                        </div>



                        <!--电话开始-->
                        <div class="mdl-card__title mdl-card--expand ">
                            <i class="material-icons marginRight color-blue">place</i>
                            <span class="marginLeft">
                        <div class="color-normal marginBottom">{{i.liveArea}}</div>
                        <div class="color-gary">居住范围</div>
                    </span>
                        </div>

                    </div>
                </secition>
            </div>

            <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen"
                               class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }"
                               ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">

                <md-fab-actions>
                    <div ng-repeat="item in items">
                        <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini"
                                   ng-click="demo.openDialog($event, item)">
                            <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible"
                                        md-autohide="false" ng-bind="item.name">
                            </md-tooltip>

                            <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>
        </md-content>


    </div>
</div>

<script src="assets/js/angular.min.js"></script>
<script src="scripts/material.min.js"></script>
<script src="scripts/jquery-2.1.1.min.js"></script>
<script src="scripts/imgLoader.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/PinYin.js"></script>
<script src="scripts/directive.js"></script>
<script src="scripts/service.js"></script>

</body>
</html>