<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>交易银行中心技术研发处</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/styles/angular-material.min.css">
    <link rel="stylesheet" href="style/material.min.css">
    <link rel="stylesheet" href="style/index.css">

</head>


<body ng-app="myApp" >
<!--page content -->
<div  ng-controller="ManCtrl">
    <div style="display:block;" id="cover" >
        <div id="loading">
            <span id="percent" ng-bind="percent">0%</span>
            <img src="resource/images/loading.png" alt="">
        </div>
        <img style="display:none;" id="coverPic" src="resource/images/cover.jpg" alt="">
    </div>

    <!--搜索-->
    <md-toolbar class="toolbar mdl-shadow--2dp">
        <div class="md-toolbar-tools">
            <div class="search-widget qp-ui qp-ui-search-input searchBox" ng-class="{'width80':clickIcon,'width0':!clickIcon}">
                <button class="search-button" ng-click="clickIcon = !clickIcon"><i class="material-icons">search</i></button>
                <button class="search-close-button"  ng-class="{'showClose':clickIcon,'hide':!clickIcon}"><i class="material-icons" ng-click="on_clear()">close</i></button>
                <input  type="text" md-autofocus id="input-0" ng-model="searchText" ng-change="change(searchText)" placeholder="Search">
            </div>
        </div>
    </md-toolbar>


    <div  class="manList">
        <md-content class="md-padding content"  layout-xs="column" layout="row" >
            <md-list flex ng-repeat="sorts in users track by $index " class="listBox" >
                <md-subheader class="md-no-sticky son-list"  >{{sorts.sorts}}</md-subheader>

                <md-list-item class="md-2-line list-item son-list "  ng-repeat="user in sorts.details track by $index"
                    ng-click="setCurrentUser(user,$event)" aria-label="user.name">
                    <div class="md-list-item-text" layout="column">
                        <p class="userName" ng-bind="user.name"></p>
                    </div>
                    <md-chips>
                        <md-chip ng-bind="user.groupName"></md-chip>
                    </md-chips>
                    <img ng-src="{{user.photo}}"  src="resource/images/tx3.jpg"  class="md-avatar" />
                </md-list-item>
            </md-list>
        </md-content>

            <!--右下角按钮-->
            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial  md-direction="left" class="md-scale" md-open="showIcon" ng-click="showIcon = !showIcon">
                    <md-fab-trigger >
                        <md-button class="md-fab md-warn"  >
                            <i class="material-icons menuIcon"></i>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions ng-show="showIcon" class="zoomIn animated">
                        <div class="md-fab-action-item" ng-class="{'scaleIn': showIcon,'scaleOut':!showIcon}"  ng-repeat="icon in sortsIcon">
                            <md-button  class="md-fab md-raised md-mini" >
                                <md-icon  ng-click="switch(icon.name)"><i class="switchSort material-icons" ng-class="{'color-pink': icon.pink}" >{{icon.iconName}}</i></md-icon>
                            </md-button>
                        </div>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>

            
    </div>
</div>

<script src="scripts/imgLoader.js"></script>
<script>

    var loadingList=[];
    loadingList.push("assets/js/angular.min.js");
    loadingList.push("scripts/material.min.js");
    loadingList.push("resource/images/cover.jpg");

    //get lists
    var xhr = new XMLHttpRequest();
    xhr.open("GET","server/getList.php?keyCode=list",false);
    xhr.send();
    if (xhr.readyState==4 && xhr.status==200)
    {
        var result = eval(xhr.responseText);
        for(var i =0;i<result.length;i++){
            result[i] = result[i].replace("rescource\\","");
            result[i] = result[i].replace(".json","");
        }
        
        for(var i=0;i<result.length;i++){
            loadingList.push("resource/images/"+result[i]+".jpg");
            loadingList.push("resource/images/"+result[i]+"-detail.jpg");
        }
    }

    var percent = document.getElementById("percent");
    imgLoader(loadingList, function (percentage) {
                var percentT = parseInt(percentage * 100);
                percent.innerHTML=percentT+"%";
                if (parseInt(percentT) == 100) {
                    document.getElementById('loading').style.display='none';
                    var cover = document.getElementById('coverPic');
                    cover.style.display='block';
                    setTimeout(function(){
                        document.getElementById('cover').setAttribute("class","fadeOut");
                        setTimeout(function(){
                            document.getElementById('cover').style.display="none";
                        },1200);
                    },2000);
                }
            });

</script>

<script src="assets/js/angular.min.js"></script>
<script src="scripts/material.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/sort.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=l6nvGEPwZapKs3Gu19Kkl2aBZLPdF7II	"></script>
<script src="scripts/service.js"></script>
</body>
</html>